.Navbar {
  height: 60px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 10px;
  z-index: 200;
  position: relative;
}

.Navbar_items {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  align-items: center;
  font-family: "Buenard", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;

  color: #ffffff;

  opacity: 0.7;
}

.Navbar_link {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
}

.logo_title {
  color: #ffdc93;
  font-size: 1.1rem;
  font-family: "Libre Baskerville", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;

  color: #ffdc93;

  opacity: 0.7;
}

.Logo_blocks {
  display: flex;
}
