.detail_btn {
  width: 206px;
  height: 62px;
  display: flex;
  background: rgba(189, 148, 63, 0.99);
  justify-content: space-evenly;
  align-items: center;
  /* background: linear-gradient(
    to right bottom,
    rgba(189, 148, 63, 0.92) 80%,
    rgba(255, 0, 0, 0) 80%
  ); */
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 60px),
    calc(100% - 30px) 100%,
    0 100%,
    0 5px
  );
  position: absolute;
  top: 90%;
  left: 50%;
}
.detail_btn img {
  width: 40px;
}
